NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://api.pamacapex-dev.dot.co.id
NEXT_PUBLIC_EWGP_API_URL=https://apipamaewgp.dot.co.id/api
NEXT_PUBLIC_NFS_API_URL=https://api.pama.dot.co.id/api
NEXT_PUBLIC_API_MOCK_URL=https://documenter.getpostman.com/view/8358297/UVeFMmFw#50c69d0c-0a92-42fe-b5ff-91b32e7790e7

NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENV=

SENTRY_ORG=
SENTRY_PROJECT=

DOT_SENTRY_RELEASE_ENABLE=

PAMAFIX_LOGOUT_URL=https://pama.dot.co.id/logout

DUMMY_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjE4NzM1IiwiZ3JvdXBfaWQiOiIwIiwiZW1haWwiOiJ0ZWd1aC5wcmF0YW1hQHBhbWFwZXJzYWRhLmNvbSIsInJvbGUiOiJhZG1pbiBjYXBleCIsImRpc3RyaWN0X2NvZGUiOiJKSUVQIiwiZGlzdHJpY3RfYWNjZXNzIjoiW1wiQUxMXCJdIiwibmFtZSI6IlRFR1VIIElNQU0gUFJBVEFNQSIsInR5cGUiOiJhZG1pbiBjYXBleCIsImpvYl9ncm91cCI6IlRSRUEiLCJwb3NpdGlvbl9pZCI6IkhPNkZJMDE3IiwidXNlcl9pZCI6InA2MTE1NTA3IiwibmJmIjoxNjQ0Mzc0MzY5LCJleHAiOjE2NDQ0NjA3NjksImlhdCI6MTY0NDM3NDM2OX0.l_549D2pGP9MDLoA6fCYba2v1C9Yp8qryIVN2WHPpYo